#about {
  #photo-gallery {
    display: grid;

    grid-template-columns: repeat($grid-column-num, minmax($grid-size, 1fr));
    grid-template-rows: repeat(2, $grid-size);
    grid-gap: $grid-gap;

    margin-bottom: $base-space * 2;
    .photo-card {
      background-color: transparent;
      background-position: center center;
      background-size: cover;

      &.photo1 {
        background-image: url(../images/pax-portrait.jpg);
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
      }
      &.photo2 {
        background-image: url(../images/hawaii-hike.jpg);
        grid-column: 3;
        grid-row: 1;
      }
      &.photo3 {
        background-image: url(../images/family-photo.jpg);
        grid-column: 4;
        grid-row: 2;
      }
    }
  }

  h2 {
    margin-bottom: $base-space;
  }
  p {
    margin-bottom: $base-space * 2;
  }

}