#top-nav, #bottom-nav {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: $base-space * 4;
  padding: 0;

  .name {
    h1 {
      color: $accent2;
      max-width: 100%;
    }
  }
  .nav-left {
    flex: 1;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .nav-right {
    flex: 1;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  a {
    color: $dark-text-color;
    &:hover {
      color: $accent1;
    }
  }

  .links {
    display: flex;
    align-items: center;
    a {
      height: 40px;
      display: flex;
      align-items: center;

      &:not(:last-child) {
        margin-right: $base-space;
      }
      &.social-icon {
        &:not(:last-child) {
          margin-right: $base-space/2;
        }
        svg {
          width: 25px;
          fill: $dark-text-color;
          &.facebook {
            padding-right: 3px;
          }
          &.github {
            width: 17px;
          }
        }
        &:hover {
          svg {
            fill: $accent1;
          }
        }
      }
    }
  }
}

#bottom-nav {
  .nav-links {
    justify-content: flex-start;
  }
}

footer {
  background-image: linear-gradient(-155deg, $transparent 64%, $accent2 0%, $accent2 110%, $transparent 40%);
  margin-top: -230px;
  padding-top: 280px;
  z-index: -1;
  margin-bottom: -300px;
  #back-to-top {
    margin-bottom: 130px;
    margin-top: -50px;
    .material-icons {
      font-size: 50px;
      color: $light-text-color;
    }
  }
}