header {
  background-color: $dark-background;
}

#nav {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 60px;
  padding: 0 30px;

  .name {
    h1 {
      color: $accent-color
    }
  }
  a {
    color: white;
    &:hover {
      color: $accent-color;
    }
  }
  .nav-links {
    flex: 1;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    .links {
      margin-right: 30px;
      a {
        &:not(:last-child) {
          margin-right: 30px;
        }
      }
    }
    .socials {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      a {
        line-height: 0;
        &:not(:last-child) {
          margin-right: 15px;
        }
      }
    }
  }
}