#top-nav, #bottom-nav {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: $base-space * 4;
  padding: 0;

  .name {
    h1 {
      max-width: 100%;
      transition: color .25s;
    }
    @media only screen and (min-width: 600px) {
      &:hover {
        h1 {
          color: $purple1;
        }
      }
    }
  }
  .nav-left {
    flex: 1;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .nav-right {
    flex: 2;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    .socials {
      display: flex;
      flex-direction: row;
    }
  }
  .mobile-menu {
    color: $dark-text-color;
    padding: 20px;
    margin-right: -20px;
    display: none;
  }
  a {
    color: $dark-text-color;
    transition: color .25s;
    @media only screen and (min-width: 600px) {
      &:hover {
        color: $purple1;
      }
    }
  }

  .links {
    display: flex;
    align-items: center;
    a {
      height: 40px;
      display: flex;
      align-items: center;

      &:not(:last-child) {
        margin-right: $base-space;
      }
      &.social-icon {
        &:not(:last-child) {
          margin-right: $base-space/2;
          &.instagram {
            margin-right: 8px;
          }
        }
        svg {
          width: 25px;
          fill: $dark-text-color;
          transition: fill .25s;
        }
        &.github {
          svg {
            width: 17px;
          }
        }
        @media only screen and (min-width: 600px) {
          &:hover {
            svg {
              fill: $purple1;
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    height: $base-space * 3;

    .nav-left {
      z-index: 3;
    }
    .nav-right {
      height: 0;
      transition: height .5s ease;
      overflow: hidden;

      flex-direction: column;
      position: fixed;
      background-color: #aa77df;
      background-image: linear-gradient(160deg, $purple1 14%, $accent2 90%);
      width: 100%;
      left: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
      justify-content: flex-start;
      align-items: flex-start;
      .links {
        flex-direction: column;
        align-items: flex-start;
        margin: 90px 30px 0;
        a {
          height: 60px;
          font-size: $base-font-size * 1.25;
          color: $light-text-color;
          &:not(:last-child) {
            margin-right: 0;
          }
          &.social-icon {
            padding-right: $base-space/2;
            padding-left: $base-space/2;
            &:not(:last-child) {
              margin-right: 0;
              &.instagram {
                margin-right: -8px;
              }
            }
            svg {
              width: 30px;
              fill: $light-text-color;
            }
            &.github {
              svg {
                width: 23px;
              }
            }
          }
        }
        .socials {
          margin-top: 30px;
          margin-left: -15px;
        }
      }
      &.show-mobile-nav {
        height: 100%;
      }
    }
    .mobile-menu {
      display: block;
      z-index: 3;
    }
  }
}
@media only screen and (max-width: 600px) {
  .mnav-open {
    overflow: hidden;
    height: 100vh;
    #top-nav {
      .name {
        h1 {
          color: $light-text-color;
        }
      }
      .mobile-menu {
        color: $light-text-color;
      }
    }
  }
}

#bottom-nav {
  .nav-links {
    justify-content: flex-start;
  }
}

footer {
  z-index: -1;
  position: relative;
  margin-top: -30px;
  &:before {
    content: '';
    display: block;
    background-image: linear-gradient(to top right, #9d74ae 49.7%, #fff 50.1%);
    height: 160px;
  }
  #back-to-top {
    z-index: 2;
    position: absolute;
    padding-bottom: 30px;
    background-color: $accent2;
    width: 100%;
    .fas {
      font-size: $base-font-size * 2.1875;
      color: $accent1;
      transition: color .25s;
    }
  }
  @media only screen and (min-width: 600px) {
    #back-to-top {
      .fas {
        &:hover {
          color: $light-text-color;
        }
      }
    }
  }
  @media only screen and (max-width: 600px) {
    text-align: center;
    #back-to-top {
      margin-bottom: 0;
      margin-top: -1px;
      padding-top: 10px;
      padding-bottom: 20px;
    }
    &:before {
      height: 60px;
      background-image: linear-gradient(to top right, #9d74ae 50%, #fff 51%);
    }
  }
}