#top-nav, #bottom-nav {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: $base-space * 4;
  padding: 0;

  .name {
    h1 {
      color: $accent-color;
      max-width: 100%;
    }
  }
  .nav-left {
    flex: 1;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .nav-right {
    flex: 1;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  a {
    color: $dark-text-color;
    &:hover {
      color: $accent-color;
    }
  }

  .links {
    display: flex;
    align-items: center;
    a {
      height: 40px;
      display: flex;
      align-items: center;

      &:not(:last-child) {
        margin-right: $base-space;
      }
      &.social-icon {
        margin-right: 10px;
        svg {
          width: 25px;
          fill: $dark-text-color;
          &.github {
            width: 20px;
          }
        }
        &:hover {
          svg {
            fill: $accent-color;
          }
        }
      }
    }
  }
}

#bottom-nav {
  .nav-links {
    justify-content: flex-start;
  }
}