#lightbox {
  position: fixed;
  overflow: auto;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  align-items: flex-start;
  background-color: $lightbox-background;
  .lb-container {
    width: 100%;
    margin-top: 10px;
    &.long-img {
      width: auto;
      height: 100%;
    }
    .lb-image {
      overflow: auto;
      padding: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: calc(100% - 100px);
      img {
        width: 100%;
        height: auto;
        display: block;
        box-shadow: 0 0 15px rgba(73, 31, 90, .5);
        max-width: 1440px;
      }
      &.mobile {
        img {
          max-width: 411px;
        }
      }
      &.long-img {
        width: auto;
        img {
          max-width: unset;
          width: auto;
          max-height: 82vh;
        }
      }
    }

    @media only screen and (max-width: 600px) {
      .lb-image {
        img {
          max-width: 1000px;
        }
        &.mobile {
          img {
            margin: auto;
            max-width: 411px;
          }
        }
      }
    }
  }
}
.overlay-added {
  position: relative;
  cursor: pointer;
  .card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $card-background;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;

    display: flex;
    align-items: center;

    .card-text {
      flex: 1;

      display: flex;
      flex-direction: column;
      text-align: center;
      padding: $base-space;

      i {
        color: $light-text-color;
        opacity: .7;
        font-size: $base-font-size * 3.75;
      }
    }
  }
  @media only screen and (min-width: 600px) {
    &:hover {
      .card-overlay {
        height: 100%;
      }
    }
  }
}

.lb-open {
  overflow: hidden;
  height: 100vh;
  .limit-width {
    padding-right: 15px;
  }
  header {
    z-index: -1;
  }
}

.close {
  color: white;
  position: fixed;
  top: 0;
  right: 15px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: .85;
  transition: opacity .25s;
  .fas {
    font-size: $base-font-size * 1.5;
    color: white;
  }
  @media only screen and (min-width: 600px) {
    &:hover {
      cursor: pointer !important;
      opacity: 1;
      .fas {
        color: $purple1;
      }
    }
  }
  @media only screen and (max-width: 600px) {
    right: 0;
    width: 60px;
    height: 60px;
    .fas {
      font-size: $base-font-size * 1.25;
      margin-top: -25px;
      margin-right: -25px;
    }
  }
}