.flipflop-block {
  display: flex;
  margin-bottom: $base-space * 6;
  &:first-child {
    margin-top: $base-space * 2;
  }

  .ff-image {
    flex: 3;
    overflow: hidden;
    position: relative;

    img {
      max-width: 100%;
      margin-bottom: -5px;
    }
  }

  .with-mobile {
    position: relative;
    padding-bottom: 30px;
    .ff-mobile-image {
      position: absolute;
      bottom: 0;
      max-width: 250px;
      min-width: 100px;
      max-height: 70%;
      min-height: 200px;
      overflow: hidden;
      img {
        max-width: 100%;
        margin-bottom: -5px;
      }
    }
  }

  .ff-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    align-self: flex-start;
    margin-top: $base-space;
    transition: margin-top .25s;
    h2 {
      transition: font-size .25s, margin-bottom .25s;
    }
    p {
      transition: font-size .25s, margin-bottom .25s, line-height .25s;
    }
    a {
      display: flex;
      align-items: center;
      font-size: $base-font-size * 1.5625;
      transition: font-size .25s;
      color: #9d74ae;
      i {
        font-size: $base-font-size * 2.1875;
        transition: font-size .25s;
        padding-left: 15px;
      }
      &.arrow-bar {
        i {
          padding-left: 10px;
          &:first-child {
            padding-left: 0;
          }
        }
      }
      @media only screen and (min-width: 600px) {
        &:hover {
          color: $accent1;
        }
      }
    }
  }

  &.flipped {
    flex-direction: row;
    .ff-image {
      margin-left: -22%;
      margin-right: $base-space * 2;
      box-shadow: 2px 2px 60px #d8d8d8;
    }

    .with-mobile {
      margin-right: $base-space * 3;
      .ff-mobile-image {
        left: 70%;
        box-shadow: 0 0 15px #d8d8d8;
      }
    }

    .ff-text {
      a {
        flex-direction: row;
      }
    }
  }

  &.flopped {
    flex-direction: row-reverse;
    .ff-image {
      margin-left: $base-space * 2;
      margin-right: -22%;
      box-shadow: -2px -2px 60px #d8d8d8;
    }

    .with-mobile {
      margin-left: $base-space * 3;
      .ff-mobile-image {
        right: 70%;
        box-shadow: 0 0 15px #d8d8d8;
      }
    }

    .ff-text {
        a {
          &.arrow-bar {
            flex-direction: row-reverse;
            justify-content: flex-end;
            i {
              transform: rotate(180deg);
            }
          }
        }
    }
  }

  @media only screen and (max-width: 880px) {
    margin-bottom: $base-space * 4;
    .ff-image {
      flex: 2;
    }

    .ff-text {
      min-width: 200px;
      margin-top: $base-space / 2;
      h2 {
        font-size: $base-font-size * 1.4;
        margin-bottom: 10px;
      }
      p {
        font-size: $base-font-size * .8;
        line-height: 18px;
        margin-bottom: 20px;
      }
      a {
        font-size: $base-font-size;
        i {
          font-size: $base-font-size * 1.5;
        }
        &.arrow-bar {
          i {
            padding-left: 5px;
          }
        }
      }
    }

    &.flipped {
      .with-mobile {
        margin-right: $base-space * 2;
        .ff-mobile-image {

        }
      }
    }

    &.flopped {
      .with-mobile {
        margin-left: $base-space * 2;
        .ff-mobile-image {
        }
      }
    }

  }

  @media only screen and (max-width: 600px) {
    margin-bottom: $base-space * 3;
    &:first-child {
      margin-top: 0;
    }
    .ff-text {
      margin-bottom: $base-space;
      h2 {
        font-size: $base-font-size * 1.8;
      }
    }

    .with-mobile {
      .ff-mobile-image {
        min-width: 80px;
        min-height: 150px;
      }
    }

    &.flipped {
      flex-direction: column-reverse;
      .ff-image {
        margin-left: unset;
        margin-right: unset;
        box-shadow: 2px 2px 30px #e4e4e4;
      }
      .with-mobile {
        .ff-mobile-image {
          left: 90%;
          box-shadow: 0 0 15px #e4e4e4;
        }
      }
    }

    &.flopped {
      flex-direction: column-reverse;
      .ff-image {
        margin-left: unset;
        margin-right: unset;
        box-shadow: -2px -2px 30px #e4e4e4;
      }
      .with-mobile {
        .ff-mobile-image {
          right: 90%;
          box-shadow: 0 0 15px #e4e4e4;
        }
      }
    }
  }
}

.redirect {
  padding: $base-space;
  margin-bottom: $base-space * 2;
  background-color: $accent1;
  h2 {
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }
  .arrow-bar {
    display: flex;
    align-items: center;
    padding-left: 5px;
    i {
      padding-left: 2px;
      &:first-child {
        padding-left: 5px;
      }
    }
  }
}