.slash-block {
  margin-bottom: 0;
  .limit-width {
    padding: 0 $base-space * 2;
  }
  &:before {
    content: '';
    display: block;
    background-image: linear-gradient(to left top, $accent1 49.7%, $light-background 50.1%);
    margin-top: 60px;
    height: 160px;
  }
  &:after {
    content: '';
    display: block;
    background-image: linear-gradient(to right bottom, $accent1 49.7%, transparent 50.1%);
    height: 160px;
  }
  &.home-prototype {
    margin-top: -320px;
    margin-bottom: $base-space * 4;
  }
  &.oracle-prototype {
    margin-top: $base-space * -4;
  }
  .link {
    background-image: linear-gradient($accent1 100%, transparent 0%);
    text-align: center;
    padding: 90px 0;
    a {
      font-size: $base-font-size * 2.5;
      color: $accent2;
      font-family: $display-font;
      font-weight: 400;
      transition: color .25s;
      @media only screen and (min-width: 600px) {
        &:hover {
          color: $purple1;
        }
      }
    }
  }
  @media only screen and (max-width: 600px) {
    &:before {
      background-image: linear-gradient(to left top, $accent1 49%, $light-background 50.1%);
      height: 60px;
    }
    &:after {
      background-image: linear-gradient(to right bottom, $accent1 49%, transparent 50.1%);
      height: 60px;
    }
    &.oracle-prototype {
      margin-top: $base-space * -2;
    }
    &.home-prototype {
      margin-top: $base-space * -3;
      margin-bottom: $base-space * 3;
    }
    .download-link {
      margin: -1px 0;
      padding: 60px 0;
    }
  }
}