.slash-block {
  margin-bottom: 0;
  &:before {
    content: '';
    display: block;
    background-image: linear-gradient(to left top, $accent1 49.9%, $light-background 50.1%);
    margin-top: 60px;
    height: 160px;
  }
  &:after {
    content: '';
    display: block;
    background-image: linear-gradient(to right bottom, $accent1 49.9%, transparent 50.1%);
    height: 160px;
  }
  .link {
    background-image: linear-gradient($accent1 100%, transparent 0%);
    text-align: center;
    padding: 90px 0;
    a {
      font-size: $base-font-size * 2.5;
      color: $accent2;
      font-family: $display-font;
      font-weight: 400;
      transition: color .25s;
      @media only screen and (min-width: 600px) {
        &:hover {
          color: $purple1;
        }
      }
    }
  }
  @media only screen and (max-width: 600px) {
    .download-link {
      margin: -1px 0;
      padding: 60px 0;
    }
    &:before, &:after {
      height: 60px;
    }
  }
}