//$accent-color: #9e75af;
//$text-color: #6b606c;

$accent-color: #ff9100;
$text-color: #4e5056;
$dark-background: #24272b;
$display-font: 'Quicksand', sans-serif;
$body-reg: 'Montserrat', sans-serif;
$body-bold: 700;
$grid-size: 250px;